<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Suite" parallel="classes" thread-count="2">
	<listeners>
        <listener class-name="com.qa.ExtentTReportListener.ExtentReportListener" />
        
    </listeners>
    
  <test name="Sample Test">
	<classes>
      <class name="com.hyrsite.qa.testcases.LoginPageTest"/>
       <class name="com.hyrsite.qa.testcases.LandingPageTest"/>
      
    </classes>
  </test>
</suite>

	  
 